.pilt {
  width: 100px;
  /* height: 150px; */
}

.pilt:hover {
  cursor: pointer;
  opacity: 0.7;
}

.pilt:active {
  border-radius: 50%;
}

.nupp {
  font-weight: bold;
  background-color: brown;
  color: white;
}

.nupp:hover {
  cursor: pointer;
  text-decoration: underline;
  border: 3px dotted lightgreen;
}

.nupp:active {
  font-style: italic;
}